
*.tree
*.tree
workspace/.metadata/*
workspace/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
workspace/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
workspace/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
workspace/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
workspace/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.ide.prefs
workspace/.metadata/.plugins/ps.edu.cupl.ui/dialog_settings.xml
workspace/.metadata/.log
workspace/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
workspace/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
workspace/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.ide.prefs
workspace/.metadata/.log
workspace/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
workspace/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
workspace/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.ide.prefs
workspace/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
workspace/.metadata/.plugins/org.eclipse.xtext.builder/builder.state
workspace/.metadata/.plugins/org.eclipse.xtext.builder/dialog_settings.xml
workspace/.metadata/.plugins/ps.edu.cupl.ui/dialog_settings.xml
workspace/.metadata/version.ini
workspace/PAL/.settings/ps.edu.cupl.Cupl.prefs
workspace/.metadata/.log
workspace/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
workspace/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
workspace/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.ide.prefs
workspace/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
workspace/.metadata/.plugins/org.eclipse.xtext.builder/builder.state
workspace/.metadata/.plugins/org.eclipse.xtext.builder/dialog_settings.xml
workspace/.metadata/.plugins/ps.edu.cupl.ui/dialog_settings.xml
workspace/.metadata/version.ini
*.bin
aniol64ROM/aniol64.bin
workspace/.metadata/.log
workspace/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
*.xmi
*.bin
*.bin
*.sld
aniol64ROM/symbols.txt
aniol64kiCad/aniol64-backups/aniol64-2023-04-04_155938.zip
aniol640kiCad/BitmappedGraphicsCard/\#auto_saved_files\#
aniol640kiCad/BitmappedGraphicsCard/_autosave-BitmappedGraphicsCard.kicad_sch
aniol640kiCad/BitmappedGraphicsCard/BitmappedGraphicsCard-backups/BitmappedGraphicsCard-2023-04-04_160820.zip
aniol640kiCad/BitmappedGraphicsCard/BitmappedGraphicsCard-backups/BitmappedGraphicsCard-2023-04-04_161509.zip
aniol640kiCad/BitmappedGraphicsCard/BitmappedGraphicsCard-backups/BitmappedGraphicsCard-2023-04-04_163645.zip
aniol640kiCad/BitmappedGraphicsCard/BitmappedGraphicsCard-backups/BitmappedGraphicsCard-2023-04-04_164226.zip
aniol640kiCad/BitmappedGraphicsCard/BitmappedGraphicsCard-backups/BitmappedGraphicsCard-2023-04-04_212708.zip
aniol640kiCad/BitmappedGraphicsCard/BitmappedGraphicsCard-backups/BitmappedGraphicsCard-2023-04-04_213409.zip
aniol640kiCad/BitmappedGraphicsCard/BitmappedGraphicsCard.kicad_prl
aniol640kiCad/BitmappedGraphicsCard/BitmappedGraphicsCard.kicad_sch
aniol640kiCad/BitmappedGraphicsCard/BitmappedGraphicsCard.kicad_sch
aniol640kiCad/aniol640-backups/aniol640-2023-05-11_190920.zip
*.dcm
*.kicad_prl
*.kicad_pro
*.kicad_sch
*.kicad_sch
aniol640kiCad/aniol640-backups/aniol640-2023-05-21_134539.zip
aniol640kiCad/aniol640-backups/aniol640-2023-05-21_172537.zip
aniol640kiCad/aniol640-backups/aniol640-2023-05-23_073206.zip
aniol640kiCad/aniol640-backups/aniol640-2023-05-26_114732.zip
aniol640kiCad/aniol640-rescue.lib
aniol640kiCad/BitmappedGraphicsCard/8085/\#auto_saved_files\#
aniol640kiCad/BitmappedGraphicsCard/8085/8085-backups/8085-2023-04-24_094203.zip
aniol640kiCad/BitmappedGraphicsCard/8085/8085-backups/8085-2023-05-07_192326.zip
aniol640kiCad/BitmappedGraphicsCard/8085/8085-backups/8085-2023-05-26_130351.zip
aniol640kiCad/BitmappedGraphicsCard/8085/8085.kicad_sch
aniol640kiCad/BitmappedGraphicsCard/BitmappedGraphicsCard-backups/BitmappedGraphicsCard-2023-04-20_195222.zip
aniol640kiCad/BitmappedGraphicsCard/BitmappedGraphicsCard.kicad_sch
VgaGenGen/VGACard2/VGACard2-backups/VGACard2-2023-05-10_214712.zip
VgaGenGen/VGACard2/VGACard2-backups/VGACard2-2023-05-10_215520.zip
VgaGenGen/VGACard2/VGACard2-backups/VGACard2-2023-05-10_220651.zip
VgaGenGen/VGACard2/VGACard2-backups/VGACard2-2023-05-11_193317.zip
VgaGenGen/VGACard2/VGACard2-backups/VGACard2-2023-05-11_203320.zip
VgaGenGen/VGACard2/VGACard2-backups/VGACard2-2023-05-11_203948.zip
VgaGenGen/VGACard2/VGACard2-backups/VGACard2-2023-05-11_210211.zip
VgaGenGen/VGACard2/VGACard2-backups/VGACard2-2023-05-11_220143.zip
VgaGenGen/VGACard2/VGACard2-backups/VGACard2-2023-05-13_133127.zip
casette/cassetteInterface/cassetteInterface-backups/cassetteInterface-2023-04-20_195519.zip
casette/cassetteInterface/cassetteInterface-backups/cassetteInterface-2023-04-23_180756.zip
casette/cassetteInterface/cassetteInterface-backups/cassetteInterface-2023-04-24_092443.zip
casette/cassetteInterface/cassetteInterface-backups/cassetteInterface-2023-05-10_214124.zip
casette/cassetteInterface/cassetteInterface-backups/cassetteInterface-2023-05-11_180759.zip
casette/cassetteInterface/cassetteInterface-backups/cassetteInterface-2023-05-22_170824.zip
casette/cassetteInterface/cassetteInterface-backups/cassetteInterface-2023-05-26_114806.zip
casette/cassetteInterface/cassetteInterface-backups/cassetteInterface-2023-05-26_125615.zip
casette/cassetteInterface/cassetteInterface-rescue.lib
casette/cassetteInterface/sym-lib-table
