
*.tree
*.tree
workspace/.metadata/*
workspace/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
workspace/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
workspace/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
workspace/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
workspace/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.ide.prefs
workspace/.metadata/.plugins/ps.edu.cupl.ui/dialog_settings.xml
workspace/.metadata/.log
workspace/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
workspace/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
workspace/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.ide.prefs
workspace/.metadata/.log
workspace/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
workspace/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
workspace/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.ide.prefs
workspace/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
workspace/.metadata/.plugins/org.eclipse.xtext.builder/builder.state
workspace/.metadata/.plugins/org.eclipse.xtext.builder/dialog_settings.xml
workspace/.metadata/.plugins/ps.edu.cupl.ui/dialog_settings.xml
workspace/.metadata/version.ini
workspace/PAL/.settings/ps.edu.cupl.Cupl.prefs
workspace/.metadata/.log
workspace/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
workspace/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
workspace/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.ide.prefs
workspace/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
workspace/.metadata/.plugins/org.eclipse.xtext.builder/builder.state
workspace/.metadata/.plugins/org.eclipse.xtext.builder/dialog_settings.xml
workspace/.metadata/.plugins/ps.edu.cupl.ui/dialog_settings.xml
workspace/.metadata/version.ini
*.bin
aniol64ROM/aniol64.bin
workspace/.metadata/.log
workspace/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
*.xmi
*.bin
*.bin
*.sld
aniol64ROM/symbols.txt
aniol64kiCad/aniol64-backups/aniol64-2023-04-04_155938.zip
aniol640kiCad/BitmappedGraphicsCard/\#auto_saved_files\#
aniol640kiCad/BitmappedGraphicsCard/_autosave-BitmappedGraphicsCard.kicad_sch
aniol640kiCad/BitmappedGraphicsCard/BitmappedGraphicsCard-backups/BitmappedGraphicsCard-2023-04-04_160820.zip
aniol640kiCad/BitmappedGraphicsCard/BitmappedGraphicsCard-backups/BitmappedGraphicsCard-2023-04-04_161509.zip
aniol640kiCad/BitmappedGraphicsCard/BitmappedGraphicsCard-backups/BitmappedGraphicsCard-2023-04-04_163645.zip
aniol640kiCad/BitmappedGraphicsCard/BitmappedGraphicsCard-backups/BitmappedGraphicsCard-2023-04-04_164226.zip
aniol640kiCad/BitmappedGraphicsCard/BitmappedGraphicsCard-backups/BitmappedGraphicsCard-2023-04-04_212708.zip
aniol640kiCad/BitmappedGraphicsCard/BitmappedGraphicsCard-backups/BitmappedGraphicsCard-2023-04-04_213409.zip
aniol640kiCad/BitmappedGraphicsCard/BitmappedGraphicsCard.kicad_prl
aniol640kiCad/BitmappedGraphicsCard/BitmappedGraphicsCard.kicad_sch
aniol640kiCad/BitmappedGraphicsCard/BitmappedGraphicsCard.kicad_sch
